asgiref==3.2.10
bootstrap4==0.1.0
click==8.0.1
Django==3.1
django-suit==0.2.28
gunicorn==20.0.4
importlib-metadata==4.5.0
pgspecial==1.13.0
Pillow==7.2.0
psycopg2==2.8.5
psycopg2-binary==2.8.6
pytz==2020.1
reportlab==3.5.48
sqlparse==0.3.1
typing-extensions==3.10.0.0
zipp==3.4.1
