<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
<link rel="stylesheet" href="../folder_css/style.css" />
<title>{% block title %}KALALISO COUTURE {% endblock %}</title>
<link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
</head>

<body>
    <div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/flat/">Flat</a></li>
        </ul>
    {% endblock %} </div>
    <div id="content">
        {% block content %}
           <h1>home day</h1>
        {% endblock content %}
    </div>
<script src="{% static  'js/bootstrap.min.js'%}"></script>
</body>
</html>
