{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
{#        <link rel="stylesheet" type="text/css" href="../bootstrap-4.5.2-dist/css/bootstrap.min.css/">#}
{#        <link rel="stylesheet" type="text/css" href="../bootstrap-4.5.2-dist/style.css"/>#}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#"><h1>Kalaliso Couture</h1></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
 </nav>
    </head><br /><br />
<title>KALALISO</title>
    <div class="text-center">
        <img src="{% static "img13.png" %}" alt="Logo" />
        <img src="{% static "img12.png" %}" alt="Logo" />
        <img src="{% static "img11.png" %}" alt="Logo" />
        <img src="{% static "img10.png" %}" alt="Logo" />
{#        <img src="{% static "img3.png" %}" alt="Logo" />#}
    </div><br />
{#    <div>#}
{#        <h1>Bienvenue dans le monde de Kalaliso </h1>#}
{#    </div><br /><br />#}

<body class="container">
{#       <table class="table-bordere" >#}
{#           <tr>#}
{#               Status#}
{#           </tr>#}
{#           <tr>#}
{#               Nom#}
{#           </tr>#}
{#           <tr>#}
{#               Prenon#}
{#           </tr>#}
{#           <tr>#}
{#               Sex#}
{#           </tr>#}
{#           <tr>#}
{#               Telephone#}
{#           </tr>#}
{#           <tr>#}
{#               Email#}
{#           </tr>#}
{#       </table>#}

       {% block content %}
           <h1>Persons for {{ status }}</h1>
           {% for person in persons %}

           <title>{{ form }}</title>
           <h2>{{ person.status }}</h2>
           <h2>{{ person.sex }}</h2>

           {% endfor %}

       {% endblock%}<br /><br />

<footer >
             <div  class="container footer">
                <div class= "row footer">
                    <div id="imagetop">
                     <ul class="list-inline">
                        <li><marquee href="#"><img src="{% static "imag24.png" %}" alt="responsive" class="img-fluid"></marquee></li>
                         <li><marquee href="#"><img src="{% static "imag16.png" %}" alt="responsive" class="img-fluid"></marquee></li>
                        <li><marquee href="#"><img src="{% static "imag18.png" %}" alt="responsive" class="img-fluid"></marquee></li>
                     </ul>
                     </div>

                <div>
                        <ul class="col-xs-3>
                            <li><a href="" title="Click here!"><span class="glyphicon glyphicon-certificat"></span>Paiement en ligne</a></li>
                            <li><a href="Conditions général.html" title="Click here!"><span class="glyphicon glyphicon-commande"></span>Conditions générales</a></li>
                            <li><a href="Mentions légales.html"><span class="glyphicon glyphicon-formation"></span>Mentions légales</a></li>
                        </ul><hr/>
                    </div>
                <div Mes Tweets class="col-xs-3">
                        <ul class="text-left">
                                <P class="text-black"><strong>Mes Tweets</strong></P>
                                <li>Informer les acteurs</li>
                                <li>Sensibiliser les acteurs artisants</li>
                                <li>Contribuer à l'évolution vestimentaire</li>
                        </ul>
                </div>
                 <div Mes Options class="col-xs-3">
                        <ul class="text-left">
                            <P class="text-black"><strong>Mes Options</strong></P>
                            <li>Accès gratuit à la qualité</li>
                            <li>Faciliter les innovations</li>
                            <li>Partager les compétences</li>
                        </ul>
                </div>

                <div Mes Produits class="col-xs-3">
                        <ul class="text-left"  >
                            <P class="text-black"><strong>Mes Produits</strong></P>
                            <li>Bazin riche</li>
                            <li>Tissu classique et leger</li>
                            <li>Wax Hollandais</li>
                        </ul>
                </div>
                  <div class="text-right" class="text-black">
                    <a href="tourefousseni1@gmail.com"><em>Made by Gis Consulting4</em></a>
                  </div>

              </div> <!-- row footer -->


 </div> <!-- container footer-->

</footer>
      <script type="text/javascript" src="{% static "js/Jquery-3.5.1.min.js" %}"></script>
{#       <script type="text/javascript" src="../../kalaliso/static/js/Jquery-3.5.1.min.js"></script>          <!-- JAVASCRIPT HERE -->#}
{#       <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> <!-- JQUERY HERE -->#}
       <script type="text/javascript" src={% static "js/users.js" %}"></script>                     <!-- MY FILE JQUERY HERE -->
 </body>
 </html>