<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../bootstrap-4.5.2-dist/style.css"/>
    <script src="../folder_jquery/jquery-1.8.3.min.js"></script>
     <script src="../../static/admin/js/vendor/jquery/script.js"></script>
</head>
<body>
<h1>Hi! Welcome to HOMEPAGE</h1>
<p>KALALISO HOMEPAGE !</p>

    <div id="content">
        {% block content %}
           <h1>home day</h1>
        {% endblock content %}
    </div>

</body>
</html>