<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="../folder_css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../folder_css/style.css"/>
</head>
<title>KALALISO</title>

<body class="container col-lg-10">

<form action="/newPage/", method="post">
      {% csrf_token %}

      <table align="center" class="table table-bordered">
          <tr>
              <th width="200"height="50">
                  REGISTRATION FORM <br /><br />
              </th>
          </tr>
          <tr>
              <th width="200">
                  <input type="radio" name="radio1" value="C" checked> Client
                  <input type="radio" name="radio1" value="O"> Ouvrier
                  <input type="radio" name="radio1" value="F"> Fournisseur
                  <input type="radio" name="radio1" value="A"> Apprenti
              </th>
          </tr>
          <tr>
              <th width="200">
                  <input type="text" placeholder="Prenom" name="prenom1">
              </th>
          </tr>
          <tr>
              <th width="200">
                  <input type="text" placeholder="Nom" name="nom1">
              </th>
          </tr>

          <tr>
              <th width="200">
                  <input type="radio" name="radio" value="H" checked>Homme
                  <input type="radio" name="radio" value="F">Femme
              </th>
          </tr>
          <tr>
              <th width="200">
                  <input type="number" placeholder="Telephone" required name="Contact">
              </th>
          </tr>
          <tr>
              <th colspan="5">
                  <button type="submit" class="btn btn-primary">Save</button>
              </th>
          </tr>
      </table>

  </form>
  <h1>Paragraph</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum.</p>

{#      <script  src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>#}
      <script type="text/javascript" src="../folder_jquery/jquery-3.5.1.slim.min.js"></script>   <!-- JAVASCRIPT HERE -->                         <!-- JQUERY HERE -->
      <script type="text/javascript" src="../folder_jquery/users.js"></script>

</body>
</html>
