<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

</head>
<title>KALALISO_mesure</title>

<body class="container col-lg-10">

<form action="", method="post">


      <table align="center" class="table table-bordered">
          <tr>
              <th width="200"height="50">
                  MESURE CLIENT <br /><br />
              </th>
          </tr>
          <tr>
              <th width="200">
                  <input type="number" placeholder="Tour_coud" required name="tour_coud">
              </th>
          </tr>
          <tr>
              <th width="200">
                  <input type="number" placeholder="Epaule" required name="epaule">
              </th>
          </tr>
          <tr>
              <th width="200">
                  <input type="number" placeholder="Manche" required name="manche">
              </th>
          </tr>
          <tr>
                <th width="200">
                  <input type="number" placeholder="Tour_Manche" required name="tour_manche">
              </th>
          </tr>
          <tr>
              <th width="200">
                  <input type="number" placeholder="Poitrine" required name="poitrine">
              </th>
          </tr>

          <tr>
             <th width="200">
                  <input type="number" placeholder="Longueur_Boubou" required name="longueur_boubou">
              </th>
          </tr>
          <tr>
                <th width="200">
                  <input type="number" placeholder="Longueur_Patalon" required name="longueur_patalon">
              </th>
          </tr>
          <tr>
                <th width="200">
                  <input type="number" placeholder="Cuisse" required name="cuisse">
              </th>
          </tr>
          <tr>
              <th width="200">
                  <input type="number" placeholder="Ceinture" required name="ceinture">
              </th>
          </tr>
          <tr>
              <th width="200">
                  <input type="number" placeholder="Fesse" required name="fesse">
              </th>
          </tr>
          <tr>
              <th width="200">
                  <input type="number" placeholder="Patte" required name="patte">
              </th>
          </tr>
          <tr>
              <th colspan="5">
                  <button type="submit" class="btn btn-primary">Save</button>
              </th>
          </tr>
      </table>

  </form>

</body>
</html>